

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	justify-content: space-around;
	color: rgba(255, 255, 255, 0.534);
	font-size: 18px;
	i{
		font-size: 23px;
		color: white;
	}
	span{
		margin: 5px;
	}
	#hstrong{
		color: white;
		
	}
	.under{
		height: 3px;
		width: 25px;
		background-color: white;
		position: absolute;
		bottom: 0;
		transform: translate(620%,-150%);
	}
	
	

}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	display: flex;
	justify-content: space-around;
	align-items: center;


	i{
		color: rgb(170, 161, 161);
		font-size: 26px;
		
	}
	min-height: 80px;
	background-color: black;
	.descrizione{
		width: 300px;
		height: 100px;
		font-size: 14px;
		color: white;
		text-align: start;
		position: absolute;
		top: 0;
		transform: translate(-30%,-100%);
	}
	text-align: center;
	font-size: 12px;
	color: rgb(170, 161, 161);
	
	.button{
		width: 50px;
		height: 33px;
		background-color: white;
		color: black;
		font-size: 22px;
		border-radius: 0.5rem;
		border-left: 3px turquoise solid;
		border-right: 3px rgb(224, 64, 189) solid;
		align-content: center;
	}
	.casa{
		i{
			color: white;
	}
		color: white;
		}
		

	
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	

	img{
		width: 50px;
		border-radius: 50%;
		border-color: 20px solid rgb(62, 139, 52);

	}

	i{
		color: white;
		font-size: 30px;
		padding-bottom: 8rem;
	}
	color: white;
	text-align: center;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	
	border: 2px dashed #fff;
	background-color: black;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
